<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graceous Empire</title>
    <link rel="stylesheet" href="style.css">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
    crossorigin="anonymous"
  />
</head>
<body>
 <section class="front_page">
    <div class="header">
        <div class="logo_container">
            <img src="" alt="">
        </div>
    <nav class="navigation">
        <ul>
            <li class="home">
                <h2>Home</h2>
            </li>
            <li class="about_us">
                <h2>About us</h2>
            </li>
            <li class="Service">
                <h2>Services</h2>
                <ul>
                    <li>Snack Production</li>
                    <li>Digital Services</li>
                    <li>Dry Cleaning and Laundary Services</li>
                    <li>Investment Service</li>
                </ul>
            </li>
            <li class="Contact_us">
                <h2>Contact Us</h2>
            </li>
            <li class="home">
                <h2>Home</h2>
            </li>
        </ul>
    </nav>

    </div>
         
     </div>
       

 </section>
</body>
</html>